<% layout('./partials/layout') -%>
<main>
    <div class="jumbotron">
        <h1>Deploy your application into Google App Store</h1>
        <p>Welcome to Microsoft Distribution system</p>
        <section id="forGoogle"></section>
    </div>
</main>