<% layout('./partials/layout') -%>
<main>
    <div class="jumbotron">
        <h1>Deploy your application into Microsoft App Store</h1>
        <p>Welcome to Microsoft Distribution system</p>
    </div>
</main>