
<!DOCTYPE html>
<html lang="en">
<head>
    <% include /head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/build/main.js"></script>
</head>
<body class="container">

    <header>
        <% include /header %>
    </header>
    
    <main>
         <%-body -%>
         <section id="react-container"></section>
    </main>

    <footer>
        <% include /footer %>
    </footer>
    <script type="text/javascript" src="/build/main.js"></script>
</body>
</html>